body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-area,.color-area{
  padding-top: 10px;
}

#textArea {
  max-width: 400px;
  max-height: 200px;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  overflow: auto;
}