<div class="text-area-base">
    <div id="textArea" ></div>

    <div class="text-area-color-base" >
        <label for="color-selection">Farbe:</label>
        <input id="color-selection" type="color" data-ng-model="selectedColor">
    </div>

    <div class="text-area-message-base">
        <label for="inputText">Nachricht:</label>
        <input id="inputText" type="text" data-ng-model="inputText" enter-press="onSend">
        <input type="button" data-ng-click="onSend()" value="Senden">
    </div>

</div>