.text-area-base{

}


#textArea {
    max-width: 500px;
    max-height: 200px;
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: auto;
}


.text-area-color-base{
    height: 40px;
    margin-top: 6px;
}

.text-area-color-base input[type=color]{
    float: right;
    width: 20%;
    padding: 0px;
    border: none;
}

.text-area-color-base input[type=color]:hover{
    cursor: default;
    cursor: pointer;
}

.text-area-message-base {
    border-top: 1px solid black;
    padding-top: 6px;
}

.text-area-message-base div{
    width: 80%;
    float: left;
}
.text-area-message-base input[type=button]{
    float: right;
    margin-top: 21px;
}