<div class="text-area-base">
    <div id="textArea" class="form-control" ></div>

    <div class="text-area-color-base" >
        <label for="color-selection">Farbe:</label>
        <input id="color-selection"  type="color" data-ng-model="selectedColor">
    </div>

    <div class="text-area-message-base">
        <div>
            <label for="inputText">Nachricht:</label>
            <input id="inputText" class="form-control" type="text" data-ng-model="inputText" enter-press="onSend">
        </div>
        <input type="button" class="btn btn-default" data-ng-click="onSend()" value="Senden" data-ng-disabled="inputText.length == 0">
    </div>

</div>